# .env.fe
VITE_BACKEND_URL=
VITE_APRYSE_LICENSE_KEY=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_APP_URL=

# .env.be
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
DATABASE_URL=mongodb://<user>:<password>@pathname:port/db_name?authSource=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# setup Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=email_domain
APP_URL=url_frontend

# setup cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

REDIS_URL=

NODE_ENV=dev
BACKEND_URL=public_url